<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.davidmartinez.hadamgames">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icono_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icono_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity android:name="com.davidmartinez.hadamgames.formulario_activity"></activity>
        <activity android:name="com.davidmartinez.hadamgames.login2_activity" />
        <activity android:name="com.davidmartinez.hadamgames.MainActivity" />
        <activity android:name="com.davidmartinez.hadamgames.splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>